@import "tailwindcss";
body{
    overflow-x: hidden;
}
:root{
    --c1:rgb(15, 40, 84);
    --c2:rgb(28, 77, 141);
    --c3:rgb(73, 136, 196);
    --c4:rgb(189, 232, 245);
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}